*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    overflow: scroll;
}
.heading{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

/* choices */
.choice{
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
     border-radius: 50%;
}
.choices{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}

/* score board */
.score-board{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 2rem;
    font-weight: 700;
}
#user-score, #comp-score{
    font-size: 4rem;
}

/* result board */
.msg-content{
    margin-top: 5rem;
}

#msg{
    margin-top: 3rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    word-wrap: break-word;
    max-width: 90%;
    padding: 1rem;
    border-radius: 2rem;
}

@media(max-width:640px){
    .choices{
        margin-top: 2rem;
        gap: 1rem;
    }
    .msg-content{
        margin-top: 2rem;
    }
    #msg{
        margin-top: 1rem;
    }
    img{
        width: 120px;
        height: 120px;
    }
    .choice{
        width: 135px;
        height: 135px;
    }
    .score-board{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    #user-score, #comp-score{
    font-size: 3rem;
}
}